@charset "utf-8";
/* CSS Document */

.slidegroup {
	width: 570px;
	height: 300px;
	margin: 25px auto;
	position: relative;
	
}

.slides img {
	position: absolute;
	top: 0;
	left: 0;
}
.current {
	z-index: 100;
	
}

#prev {
	background: url(../images/prev.png) no-repeat;
	position: absolute;
	z-index: 500;
	left: 0;
	top: 50%;
	width: 46px;
	height: 46px;
	
}


#next {
	background: url(../images/next.png) no-repeat;
	position: absolute;
	z-index: 500;
	right: 0;
	top: 50%;
	width: 46px;
	height: 46px;
	
}



